{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Update Page {% endblock %}

{% block content %}

<h1>Create an Annotation for {{ owner.name }}</h1>
<img src="{% static 'webapp/images/graph.svg' %}" class="img-fluid mt-5" alt="Responsive image">

<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button type="submit" autofocus="True">Create</button>
</form>
<br>
<br>

{% endblock %} 