{% extends "base.html" %}

{% load static %}

{% block title %} Files Page {% endblock %}

{% block content %}

<h1>{{ modelrepresentation.name}} [{{modelrepresentation.id}}]</h1>

<img src="{% static 'webapp/images/graph.svg' %}" class="img-fluid mt-5" alt="Responsive image">
<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th>Components</th>
            <th>Attributes</th>
            <th>Operations</th>
            <th>Parameters</th>
            <th>Relations</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul>
                    {% for c in component_list.all %}
                        <li>Name: {{ c.name }} <br> 
                            ID: {{ c.id }} <br>
                            Type: {{ c.type }}
                        </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for a in attribute_list.all %}
                        <li>Name: {{ a.name }} </li> 
                            ID: {{ a.id }} <br>
                            Type: {{ a.type }} <br> 
                            DataType: {{ a.datatype }} <br> 
                            Owner ID: {{ a.ownerid}} <br>
                        </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for o in operation_list.all %}
                        <li>Name: {{ o.name }} <br>
                            ID: {{ o.id }} <br>
                            Type: {{ o.type }} <br> 
                            Visibility: {{ o.visibility}} <br> 
                            Owner ID: {{ o.ownerid }}
                        </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for p in parameter_list.all %}
                        <li>Name: {{ p.name }} <br>
                            ID: {{ p.id }} <br>
                            Direction: {{ p.direction }} <br> 
                            Type: {{ p.type }} <br>
                            Owner ID: {{ p.ownerid }}
                        </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for r in relation_list.all %}
                        <li>Name: {{ r.name }} <br>
                            ID: {{ r.id }} <br>
                            Type: {{ r.type }} <br> 
                            Source: {{ r.source }} <br> 
                            Target: {{ r.target }}
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>

    </tbody>
</table>



{% endblock %} 