{% extends "base.html" %}

{% load static %}

{% block title %} Files Page {% endblock %}

{% block content %}

<h1>All Files:</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Download</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for file in file_list %}
        <tr>
            <td>{{ file.name }}</td>
            <td>
                <a href="{{ file.file.url }}"> {{file.file}} </a>
            </td>
            <td>
                <form method="post" action="{% url 'webapp:delete_file' file.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Delete File</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %} 