{% extends "base.html" %}

{% load static %}

{% block title %} Index Page {% endblock %}

{% block content %}

<h1>All Models:</h1>
<!-- {% if model_list %}
    {% for modelrepresentation in model_list %}
        <h4><a href="{% url 'webapp:detail' modelrepresentation.id %}"> {{modelrepresentation.name}} - {{ modelrepresentation.file.name}}</a></h4>
    {% endfor %}
{% else %}
    <p>No models are available.</p>
{% endif %} -->

<table class="table">
    <thead>
        <tr>
            <th>Model</th>
            <th>File</th>
        </tr>
    </thead>
    <tbody>
        {% if model_list %}
            {% for modelrepresentation in model_list %}
            <tr>
                <td>
                    <a href="{% url 'webapp:detail' modelrepresentation.id %}"> {{modelrepresentation.name}} </a>
                </td>
                <td>
                    {{ modelrepresentation.file.name}}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <p>No models are available.</p>
        {% endif %} 
    </tbody>
</table>


{% endblock %} 