{% extends "base.html" %}

{% load static %}

{% block title %} Index Page {% endblock %}

{% block content %}

<!-- <h1>All Models:</h1>
{% if model_list %}
    {% for modelrepresentation in model_list %}
        <h4><a href="{% url 'webapp:detail' modelrepresentation.id %}"> {{modelrepresentation.name}}</a></h4>
        <p>ID: {{ modelrepresentation.id }} - File: {{ modelrepresentation.file.name}}</p>
    {% endfor %}
{% else %}
    <p>No models are available.</p>
{% endif %} -->


<h1>Index Page:</h1>
<table allign="right" class="table">
    <caption>All the models currently in the database.</caption>
    <thead>
        <tr>
            <th>Model</th>
            <th style="text-align:left">File</th>
        </tr>
    </thead>
    <tbody>
        {% if model_list %}
            {% for modelrepresentation in model_list %}
            <tr>
                <td>
                    <a href="{% url 'webapp:detail' modelrepresentation.id %}"> {{modelrepresentation.name}} </a>
                </td>
                <td style="text-align:left">
                    {{ modelrepresentation.file.name}}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <p>No models are available.</p>
        {% endif %} 
    </tbody>
</table>


{% endblock %} 